
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
}

p{
	font-family: "微软雅黑";
}

.gapsize{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page{
	height: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

/**
 * 去除边框聚焦颜色
 */

input:focus {
	outline: none;
}